@media(max-width:1200px) {

    .fashion__cards,
    .custom__cards {
        gap: 30px;
        max-width: 600px;
        margin: 30px auto;
        flex-wrap: wrap;
    }

}

@media(max-width:992px) {
    .nav {
        flex-direction: column;
    }

    .nav__list {
        order: 1;
    }

    .nav__form {
        margin: 20px 0;
    }
}

@media(max-width:768px) {
    .footer__item {
        max-width: 600px;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .footer__item_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header__content_title {
        font-size: 35px;
        line-height: 50px;
    }

}

@media(max-width:576px) {
    .nav__list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav__dropdown {
        top: 0px;
        left: 87px;
        width: 100%;
    }

    .nav__dropdown_link {
        padding: 12px;
    }

    .fashion__cards {
        gap: 10px;
        max-width: initial;
        justify-content: center;
    }

    .custom__cards {
        gap: 30px;
        justify-content: center;
        text-align: center;
    }

    .header__content_title {
        font-size: 24px;
        padding: 17px 30px;
    }

    .collection__title {
        font-size: 40px;
    }

    .collection__btn {
        padding: 15px 25px;
    }

    .collection__item {
        text-align: center;
    }

    .custom__title {
        font-size: 30px;
        line-height: 50px;
    }
}

@media(max-width:375px) {
    .fashion__desc_title {
        font-size: 40px;
        line-height: 50px;
    }

    .collection__title {
        font-size: 35px;
    }

    .custom {
        padding: 30px 20px;
    }
}